html
	head
		//@@include_once('./productionFontLinks.html')
		//inject:css
		//endinject
	body
		include ./pugIncludes/modules/header.pug
		img(src="../images/icons/logo.png")
		img(src="../images/icons/logo.png")
		div Some Text
		p Some Paragraph