html
	// include variables.pug file with app variables
	include /variables/variables.pug
	include /functions/functions.pug
	include /mixins/head.pug
	include /mixins/mixins.pug
	+head(meta.index.title)(viewport= viewportWidth charset= siteCharset author= authorName keywords= createKeywordString(meta.index.keywords)  description= meta.index.description)
	body
		div.wrapper
			include /modules/header.pug
			include /modules/categories.pug

		