- var titleName = 'indexPage';
- var siteCharset = 'utf-8';
- var viewportWidth = 'width=device-width, initial-scale=1';
- var authorName = 'Bohdan Lyhoshapko';
- var headerMenu = {'about' : 'Про нас', 'team' : 'Команда', 'register' : 'Реєстрація', 'switch' : 'Укр'};
- var mainCategories = {'review': 'Огляд новин', 'education' : 'Заклади освіти'};
- var hashtagList = {'#1' : '#first', '#2': '#second', '#3': '#third', '#4': '#fourth', '#5': 'fifth', '#6': 'sixth', '#7': '#seventh', '#8': '#eights', '#9': '#ninth'};