- var createKeywordString = function(keywords) {
-   return keywords.join(',')
-}
- var formLinkName = function(className) {
-   var classParts = className.split(' ');
-   var linkName = classParts[0] + '-link';
-   return linkName;  
-}